//Vendors
@import 'vendors/google-fonts';
@import 'vendors/font-awesome';
@import 'vendors/hamburgers';

//Components
@import 'components/basic_reset';
@import 'components/navigation_off_canvas';
@import 'components/header_poster';
@import 'components/sentence';
@import 'components/youtube_video';

//Pages
@import 'pages/home';
@import 'pages/acerca';
@import 'pages/maratones';

//Utilities
@import 'pages/utilities';
