.app {
  min-height: 100vh;
  line-height: 1.4;
  background-color: #EEE;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: 'header'
                       'navigation'
                       'main'
                       'sidebar'
                       'footer';
}

.app > * { padding: 2rem; }

header,
footer {
  background-color: steelblue;
  color: #FFF;
  grid-area: header;
}

footer { grid-area: footer; }

aside, nav {
  background-color: deepskyblue;
  grid-area: sidebar;
}

nav { grid-area: navigation }

main {
  background-color: #DDD;
  grid-area: main;
}

@media screen and (min-width: 64em) {
  .app {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: repeat(4, fit-content);
    grid-template-areas: 'header header header'
                         'navigation main sidebar'
                         'navigation main .'
                         'footer footer footer';
  }
}
