.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header,
footer {
  padding: 1rem;
  flex-basis: 4rem;
  background-color: steelblue;
  color: white;
  text-align: center;
}

main {
  flex-grow: 1;
  padding: 3rem 5%;
  font-size: 1.5em;
  background-color: #EEE;
}