/*
Version Sass (copiada de Codepen)
https://codepen.io/edteam/pen/NgRqde?editors=0100

$ratio: 1.618;
$base: 1rem;
$line-height: 24px;
$t3: $base * $ratio;
$t2: $t3 * $ratio;
$t1: $t2 * $ratio;
$s1: $base / $ratio;
$s2: $s1 / $ratio;

@mixin t1 {
  font-size: $t3;

  @media screen and (min-width: 640px) {
    font-size: $t2;
  }

  @media screen and (min-width: 1024px) {
    font-size: $t1;
  }
}

h1 {
  @include t1;
}

// Ritmo vertical
// line-height

body {
  min-height: 100vh;
  background-image: linear-gradient(#fff 95%, #999 95%);
  background-size: 100% 24px;
}

h1 {
  line-height: $line-height * 3;
  margin: 0;
}

h2 {
  margin: $line-height 0 0;
  line-height: $line-height * 2;
}

p {
  margin: 0;
  line-height: $line-height;
}

*/

/* CSS compilado */
h1 {
    font-size: 1.618rem;
}
@media screen and (min-width: 640px) {
    h1 {
        font-size: 2.61792rem;
    }
}
@media screen and (min-width: 1024px) {
    h1 {
        font-size: 4.2358rem;
    }
}

body {
    margin : 0 24px;
    font-family : sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(#ccc 1px, hsl(60,100%,95%) 1px);
    background-size: 100% 24px;
}

h1 {
    line-height: 72px;
    margin: 0;
}

h2 {
    margin: 24px 0 0;
    line-height: 48px;
}

p {
    margin: 0;
    line-height: 24px;
}
